{% load static %}
<html>
<head>
	<title>P2T</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
	<body> 
		<h1> CUD </h1>
	
   	 		<p>Hi there!</p>
   	 		<p>Sup nib!</p>
	</body>
</html>